{% extends 'base.html.twig' %}

{% block title %}New Reply To Conatct Request{% endblock %}

{% block body %}
    <h1>Create new Reply To Conatct Request</h1>

    {{ include('reply_to_conatct_request/_form.html.twig') }}

{% endblock %}
