{% extends 'base.html.twig' %}

{% block title %}ReplyToConatctRequest{% endblock %}

{% block body %}
    <h1>ReplyToConatctRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reply_to_conatct_request.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ reply_to_conatct_request.content }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary"  href="{{ path('app_reply_to_conatct_request_index') }}">back to list</a>


{% endblock %}
