<header class="navbar navbar-expand-lg navbar-light  justify-content-between m-3 align-items-center">
	<div class="fs-4 d-flex align-items-center">
		<a class="navbar-brand" href="/trips"><img src="https://i.ibb.co/y4X7N74/logo.png" alt="logo" border="0"></a>
	</div>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse fs-4 justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav mb-2 mb-lg-0">
			{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle btn btn-light" href="" data-bs-toggle="dropdown">Home</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item btn btn-info" href="/trips">
								All Trips</a>
						</li>
						<li>
							<a class="dropdown-item btn btn-info" href="/destinations">
								ALL  Destinations</a>
						</li>
						<li>
							<a class="dropdown-item btn btn-info" href="/categorys">
								All categories
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle btn btn-light" href="" data-bs-toggle="dropdown">Bookings</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item btn btn-info" href="/reservations">
								ALL  Reservation</a>
						</li>
						<li>
							<a class="dropdown-item btn btn-info" href="/contacts">
								All Contacts</a>
						</li>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle btn btn-light" href="" data-bs-toggle="dropdown">Responses</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item btn btn-info" href="/replys">
								All Rservations replies</a>
						</li>
						<li>
							<a class="dropdown-item btn btn-info" href="/reply_to_conatct_requests">
								ALL Contact Replies</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle btn btn-light" href="" data-bs-toggle="dropdown">Setting</a>
					<ul class="dropdown-menu">
						
						{% if  is_granted  ("ROLE_EDITOR") %}
							
							<li>
							<a class="dropdown-item btn btn-info" href="/users">
								All users</a>
						</li>
						{% endif %}
						<li>
							<a class="dropdown-item btn btn-info" href="/status">
								All status</a>
						</li>

					</ul>
				</li>

				<li class="nav-item">
					<a class=" nav-link btn btn-warning" href="/logout">Logout</a>
				</li>
				{# {% else %}
																				                <li class="nav-item">
																				                    <a class="nav-link btn btn-secondary" href="/login">Log in</a>
																				                </li> #}
			{% endif %}
		</ul>
	</div>


</header>
