<header class="d-flex justify-content-between m-3 align-items-center">
	<div class="fs-4">
	<a href="/home"><img src="https://i.ibb.co/y4X7N74/logo.png" alt="logo" border="0"></a>
	</div>

	<div class="fs-4">
	<a class="btn btn-secondary" href="/register">Registration</a>
	<a class="btn btn-secondary" href="/login">Log in</a>
	</div>

</header>
