.card {
  
  width: 300px;
  height: 300px;
  perspective: 1000px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
  
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #070202;
  display: flex;
  /* align-items: center; */
  /* border: 3px solid #3f702c; */
  border-radius: 10px;
  justify-content: center;
  font-size: 1.5em;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #F08A5D;
  color: #080808;
  font-weight: bolder;
  display: flex;
  align-items: center;
  /* border: 10px solid #F08A5D; */
  border-radius: 10px;
  justify-content: center;
  font-size: 1.5em;
  transform: rotateY(180deg);
}

  